<div class="list-group shadow-sm sticky-top" style="top:80px">
    <a href="{{ path('app_admin_dashboard') }}"
       class="list-group-item list-group-item-action">
        <i class="bi bi-speedometer2"></i> Dashboard
    </a>
    <a href="{{ path('app_admin_users') }}"
       class="list-group-item list-group-item-action">
        <i class="bi bi-people"></i> Utilisateurs
    </a>
    <a href="{{ path('app_admin_clubs') }}"
       class="list-group-item list-group-item-action">
        <i class="bi bi-award"></i> Clubs
    </a>
    <a href="{{ path('app_admin_events') }}"
       class="list-group-item list-group-item-action">
        <i class="bi bi-calendar-event"></i> Événements
    </a>
    <a href="{{ path('app_admin_candidatures') }}"
       class="list-group-item list-group-item-action">
        <i class="bi bi-briefcase"></i> Candidatures
    </a>
    <a href="{{ path('app_admin_reclamations') }}"
       class="list-group-item list-group-item-action">
        <i class="bi bi-chat-dots"></i> Réclamations
    </a>
</div>